#home{
    width:100%;
    height:100%;
    .home-top{
        width:100%;
        height:50px;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        box-shadow: 0 2px 8px #f0f1f2;
        .home-left{
            padding-left:20px;
            line-height: 50px;
            font-size: 20px;
            color: #555;
        }
        .home-right .ant-menu-horizontal{
           border-bottom: 0;
        }
    }
    .home-down{
        width:100%;
        height:calc(100% - 50px);
        display: flex;
        flex-direction: row;
        padding-top:30px;
        .home-left{
            width:300px;
            height:100%;
            // border-right: 1px #ccc solid;
            overflow: auto;
        }
        .home-right{
            width:calc(100% - 300px);
            height:100%;
            overflow: auto;
            padding-left:50px;
        }
    }
}